@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Raleway&display=swap");
$black: #000000;
$grey: #f1f1f1;
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

.padding-sides {
  padding-left: 2rem;
  padding-right: 2rem;
}
body {
  background-color: white;
  font-family: "Raleway", sans-serif;
  a {
    text-decoration: underline;
    text-underline-position: under;
    color: $black;
  }
  //Mobile First
  .introduction {
    margin: 2rem 0;
    .name {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      color: $black;
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
    }
    .cover {
      color: $black;
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-family: "Raleway", sans-serif;
      line-height: 1.5;
    }
  }
  .contact-bar {
    .headshot {
      width: 3.5rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-left: 1rem;
        margin-right: 1rem;
        svg {
          width: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .projects {
    .header {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      .project {
        background-color: $grey;
        padding: 2rem;
        margin: 2rem 0;

        .language {
          margin: 0;
          font-weight: 200;
        }
        .title {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        .description {
          margin: 0;
        }
      }
    }
  }
  .lang-switcher {
    display: flex;
    width: 50px;
    .lang {
      width: 50%;
      border: 1px solid black;
      text-align: center;
      &.active {
        background-color: $black;
        color: white;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .app {
      display: flex;
      .info {
        position: fixed;
        height: 100vh;
        width: 37vw;
        max-width: 408px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .contact-bar {
          margin: 2rem 0;
        }
        .styling {
          flex: 1 1;
          align-self: flex-start;
          border-left: 1px solid $black;
          width: 100%;
          display: flex;
          align-items: center;
          .video-thumb {
            width: 29vw;
            padding-left: 1rem;
            max-width: 350px;
            transition: opacity 400ms ease 0ms;
            position: absolute;
          }
          .tiny {
            filter: blur(20px);
            transform: scale(1.1);
            transition: visibility 0ms ease 400ms;
          }
          video {
            width: 29vw;
            padding-left: 1rem;
            max-width: 350px;
          }
        }
      }
      .projects {
        position: absolute;
        right: 0;
        max-width: 508px;
        margin-top: 1.5rem;
      }
      article {
        &:hover {
          transform: scale(1.1);
        }
        &.transition {
          transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  // Tablet
  @media screen and (min-width: 1280px) {
    .app {
      .info {
        padding-left: 10vw;
      }
      .projects {
        right: 10vw;
      }
    }
  }
}
